:root{
    --primary: #6caef0;
    --secondary: #4e4e4e;
    --error: #ff4a4a;
  }
  
  body{
    color: var(--secondary);
    background-color: white;
  }
  .Upload{
    max-width: 960px;
    margin: 0 auto;
  }
  
  /* upload form styles */
  form{
    margin: 30px auto 10px;
    text-align: center;
  }
  label input{
    height: 0;
    width: 0;
    opacity: 0;
  }
  label{
    display: block;
    width: 1200px;
    height: 500px;
    border: 2px solid black;
    border-radius: 1%;
    margin: 100px auto;
    line-height: 44px;
    color: black;
    font-weight: bold;
    font-size: 36px;
  }
  label:hover{
    background: white;
    border:dashed  ;
  }
  .output{
    height: 60px;
    font-size: 0.8rem;
  }
  .error{
    color: var(--error);
  }
  .display{
    padding-top: 1%;
    /* margin-bottom: -2%; */
  }
  /* progress bar styles */
  .progress-bar{
    height: 5px;
    background: var(--secondary);
  }
  .display .progress-bar{
    margin-top: -30px;
  }
  