.home {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    margin-top: 100px;
}

.blurb {
    margin-top: 100px;
    max-width: 50vw;
    max-height: 50vh;
    padding: 15px;
    border-style: outset;
    align-self: center;
    border-radius: 10px;
}
